@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
</head>
<body>
    <script>
        function send() {
            $(this).load('@Url.Action("Register", "User")');
            Swal.fire(
                'Готово!',
                'Вы успешно зарегистрировались!',
                'success'
            );
        }
    </script>
    <div>
        <h1 style="text-align: center">Регистрация</h1>
        <form method="post" class="row g-3 needs-validation">
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="LastName" name="last" required>
            </div>

            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Имя</label>
                <input type="text" class="form-control" id="Name" name="first" required>
            </div>

            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="Otch" name="otch" required>
            </div>

            <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Логин</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="Login" aria-describedby="inputGroupPrepend" name="login" required>
                </div>
            </div>

            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="Pass" required
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])\S{8,}"
                       title="Пароль должен содержать от 8 символов (английские строчные, заглавные, цифры и спец символы)" name="pass">
            </div>

            <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Почта</label>
                <div class="input-group has-validation">
                    <input type="email" class="form-control" id="Email"
                           aria-describedby="inputGroupPrepend" placeholder="name@gmail.com" required name="email">
                </div>
            </div>

            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Номер телефона</label>
                <input type="tel" class="form-control" id="Tel" required
                       pattern="89\d{9}" title="Формат телефона 89........." name="tel">
                <div class="invalid-feedback">
                    Введите номер телефона.
                </div>
            </div>
            
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Место работы</label>
                <input type="text" class="form-control" id="Work" required />
                <div class="invalid-feedback">
                    Введите место работы.
                </div>
            </div>
            <div class="col-12" style="text-align:center">
                <!--asp-controller="User" asp-action="Register"-->
                <button class="btn btn-primary" type="submit" onclick="send()">Регистрация</button>
                <br />
                <a href="Enter">Вход</a>
            </div>
        </form>

    </div>
</body>
</html>

