@model (IEnumerable<string>, string[])
@{
    ViewData["Title"] = "AddPublication";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <script>
        function proverka() {
            var categories;
            var words;
            var file;
            var annotation;
            var title;
            var connection;
            var autors;
            words = document.getElementById("TextWords").value;
            if (words == '') {
                Swal.fire("Заполните ключевые слова к статье!")
                return false;
            }
            if (words.split('\n').length < 3)
            {
                Swal.fire("Ключевых слов должно быть как минимум 3!")
                return false;
            }
            categories = document.getElementById("categories");
            var categor = categories.getElementsByTagName("input");
            var count = 0;
            for (var i = 0; i < categor.length; i++) {
                if (categor.item(i).checked) {
                    count = count + 1;
                }
            }
            if (count == 0) {
                Swal.fire("Выберете рубрику или рубрики!")
                return false;
            }
            file = document.getElementById("File").value;
            if (file == '') {
                Swal.fire("Выберете файл статьи!")
                return false;
            }
            annotation = document.getElementById("TextAnnotation").value
            if (annotation == '') {
                Swal.fire("Заполните аннотацию к статье!")
                return false;
            }
            if (annotation.length < 100) {
                Swal.fire("Длина аннотации должна быть от 100 символов. Сейчас " + annotation.length)
                return false;
            }
            title = document.getElementById("TextTitle").value
            if (title == '') {
                Swal.fire("Заполните название статьи!")
                return false;
            }
            
            autors = document.getElementById("autors")
            var inputs = autors.getElementsByTagName("input");
            //если вообще нет авторов
            if (inputs.length == 0) {
                Swal.fire("Введите авторов!")
                return false;
            }
            else {
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs.item(i).value == '') {
                        Swal.fire("Заполните данные к автору!")
                        return false;
                    }
                }
            }
            connection = document.getElementsByName("connection");
            var count_con = 0;
            for (var i = 0; i < connection.length; i++) {
                if (connection.item(i).checked) {
                    count_con = count_con + 1;
                }
            }
            if (count_con == 0) {
                Swal.fire("Выберете автора для связи!")
                return false;
            }
            return true;
        }
    </script>
    <script>
        var id = 0;
        var id_button = 0;
        function addEmail() {
            //создали строку
            var row = document.createElement("tr");
            id = id + 1;
            row.setAttribute("id", id);
            
            var cell_email = document.createElement("td");
            cell_email.innerHTML = "<input type='email' size='10' name='email' onchange='cheakEmail(this);'>";
            //добавляем ячейки в строку
            row.appendChild(cell_email);
            var table = document.getElementById("autors");
            //Добавляем строку в таблицу
            table.appendChild(row);
        }
        function cheakEmail(text) {
            var email = text.value;
            $.post("/Home/CheckEmail", { Email: email }, function (data) {
                if (data == '') {
                    //Swal.fire('false');
                    add('false', data);
                }
                else {
                    //Swal.fire('true');
                    add('true', data);
                }
            })
        }
        function add(metka, data) {
            //создали ячейки
            var cell_last = document.createElement("td");
            var cell_name = document.createElement("td");
            var cell_otch = document.createElement("td");
            var cell_tel = document.createElement("td");
            var cell_work = document.createElement("td");
            var cell_autor = document.createElement("td");
            
            id_button = id_button + 1;
            var buttonDel = document.createElement("button");
            buttonDel.setAttribute("type", "button");
            buttonDel.setAttribute("onclick", "remove(this);");
            buttonDel.setAttribute("name", "remove");
            buttonDel.setAttribute("class", "btn btn-primary");
            buttonDel.setAttribute("id", id_button);
            
            if (metka == 'false') {
                //добавили текстовое поле
                cell_last.innerHTML = "<input type='text' size='10' name='last'>";
                cell_name.innerHTML = "<input type='text' size='10' name='name'>";
                cell_otch.innerHTML = "<input type='text' size='10' name='otch'>";
                cell_tel.innerHTML = "<input type='text' size='10' name='tel'>";
                cell_work.innerHTML = "<input type='text' size='10' name='work'>";
                //cell_autor.innerHTML = "<input id=checkbox'" + id + "' name='connection' type='checkbox'>";
            }
            else {
                var user_data = data.split(',');
                //добавили текстовое поле
                cell_last.innerHTML = "<input type='text' size='10' name='last' value='" + user_data[1] + "'  readonly>";
                cell_name.innerHTML = "<input type='text' size='10' name='name' value='" + user_data[2] + "'  readonly>";
                cell_otch.innerHTML = "<input type='text' size='10' name='otch' value='" + user_data[3] + "'  readonly>";
                cell_tel.innerHTML = "<input type='text' size='10' name='tel' value='" + user_data[4] + "'  readonly>";
                cell_work.innerHTML = "<input type='text' size='10' name='work' value='" + user_data[5] + "'  readonly>";
                //cell_autor.innerHTML = "<input id=checkbox'" + id + "' name='connection' type='checkbox'>";
            }
            cell_autor.innerHTML = "<input id=checkbox'" + id + "' name='connection' type='checkbox' value='"+id+" '>";
            buttonDel.innerHTML = "<label>Удалить</label>";
            
            var rows = document.getElementsByTagName("tr");
            var row;
            for (var i = 0; i < rows.length; i++) {
                if (rows.item(i).id == id) {
                    row = rows.item(i);
                    break;
                }
            }
            //добавляем ячейки в строку
            row.appendChild(cell_last);
            row.appendChild(cell_name);
            row.appendChild(cell_otch);
            row.appendChild(cell_tel);
            row.appendChild(cell_work);
            row.appendChild(cell_autor);
            row.appendChild(buttonDel);
            
            var table = document.getElementById("autors");
            //Добавляем строку в таблицу
            table.appendChild(row);
        }

        function remove(button) {
            Swal.fire({
                title: 'Вопрос',
                text: "Вы уверены, что хотите удалить данного автора?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Да',
                cancelButtonText: 'Нет'
            }).then((result) => {
                if (result.isConfirmed) {
                    var table = document.getElementById("autors");
                    var nodes = table.childNodes;
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes.item(i).id == button.id) {
                            table.removeChild(nodes.item(i));
                            break;
                        }
                    }
                }
            })
        }
    </script>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Autor">Научный журнал</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="AddPublication">Добавить публикацию</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="../User/UpdateData">Изменить данные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="MyPublications">Мои публикации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="../User/Enter">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form id="form" name="form" method="post" enctype="multipart/form-data" onsubmit="return proverka();">
        @if (Model.Item2.Length != 0)
        {
            <div class="alert alert-primary" role="alert">
                <strong>@Model.Item2.ElementAt(0)</strong>@Model.Item2.ElementAt(1)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <h1 style="text-align: center">Добавление статьи для публикации</h1>
        <p style="font-size:20px; text-align: center">
            <label style="font-weight:bold">Автор(ы):</label><br />
            <!--id="autors" style="width:100%;"-->
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Почта</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Место работы</th>
                        <th scope="col">Автор для связи</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody id="autors">
                </tbody>
            </table>
            <br />
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addEmail();">Добавить</button>
        </p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <!--<p style="font-size:20px; text-align: center">-->
                        <label style="font-weight:bold">Название статьи:</label><br />
                        <input name="title" id="TextTitle" type="text" size="40" /><br /><br />
                        <!--</p>-->
                        <!--</div>-->
                        <!--style="font-size:20px; text-align: center"-->
                        <!--<div class="col-md-4">-->
                        <label style="font-weight:bold">Рубрика(и):</label><br />
                        <p id="categories">
                            @foreach (var str in Model.Item1)
                            {
                                <input id="Checkbox1" name="category" type="checkbox" value="@str">@str<br />
                            }
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <!--<p style="font-size:20px; text-align: center">-->
                        <label style="font-weight:bold">Ключевые слова:</label><br />
                        <textarea id="TextWords" name="words" cols="40" rows="12"
                                  title="Каждое новое ключевое слово вводится с новой строки."
                                  placeholder="Каждое новое ключевое слово вводится с новой строки."></textarea><br /><br />
                        <!--</p>-->
                    </div>
                </div>
                <div class="col">
                    <div>
                        <!--<p style="font-size:20px; text-align: center">-->
                        <label style="font-weight:bold">Аннотация:</label><br />
                        <textarea id="TextAnnotation" name="annotation" cols="40" rows="12"></textarea><br /><br />
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>
        <label style="font-size: 20px; text-align: center; font-weight:bold">Прикрепить статью:</label>
        <input id="File" name="file" type="file" accept=".pdf, .docx, .doc, .txt"  /><br />
        <!--onclick="proverka();"-->
        <button id="ButtonSave" type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
    </form>
</body>
</html>